USE [master]
GO
/****** Object:  Database [diem247]    Script Date: 16/01/2016 3:16:28 CH ******/
CREATE DATABASE [diem247]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'diem247', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\diem247.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'diem247_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\diem247_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [diem247].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [diem247]
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 16/01/2016 3:16:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLogs](
	[ID] [int] IDENTITY(1,10) NOT NULL,
	[LogMessage] [ntext] NULL,
	[DateCreated] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TempTruong]    Script Date: 16/01/2016 3:16:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempTruong](
	[Ten] [ntext] NOT NULL,
	[Ma] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TempTruong] PRIMARY KEY CLUSTERED 
(
	[Ma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[truongnganhmonthi]    Script Date: 16/01/2016 3:16:29 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[truongnganhmonthi](
	[matruong] [nvarchar](50) NOT NULL,
	[manganh] [nvarchar](50) NOT NULL,
	[ToHopMon] [nvarchar](255) NOT NULL,
	[tennganh] [ntext] NULL,
	[tentruong] [ntext] NULL,
	[diem] [float] NULL,
 CONSTRAINT [PK_truongnganhmonthi] PRIMARY KEY CLUSTERED 
(
	[matruong] ASC,
	[manganh] ASC,
	[ToHopMon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
USE [master]
GO
